*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #292942;
    background-image:url("../images/main.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
header,main,footer{
    width: 70%;
    background-color: white;
    min-height: 5px;
    margin: 0 auto;
    padding: 25px;
    overflow: hidden;
}
header{
    margin-top: 50px;
    position: relative;
}
header p{
    font-size: 31px;
}
h1{
    font-size: 85px;
    color: #fd360e;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    line-height: 0.7;
}
h2{
    color: #791906;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
main{
    min-height: 510px;
    margin-top: -25px;
}
ul#main-menu{
    list-style-type: none;
    text-transform: uppercase;
    background-color: #4d4d4d;
    width: 105%;
    margin-left: -30px;
    margin-top: 30px;
    display: flex;
    border-bottom: 6px solid #fd360e;
}
ul#main-menu li{
    padding: 15px;
    border-right: 1px solid #797979;
}
ul#main-menu li:hover{
    background-color: #fd360e;
    cursor: pointer;
}
ul#main-menu a{
    text-decoration-line: none;
    color: white;
    font-size: 20px;
}
#main-side{
    width: 90%;
    min-height: 300px;
    float: left;
    text-align: justify;
}
#main-side p{
    padding: 5px;
}
footer{
    border-top: 6px solid #fd360e;
    text-align: center;
    font-size: 18px;
}
div#main-side img {
    width: 90%;
    padding: 30px;
}
.article{
    border: 2px dotted #4d4d4d;
    width: 98%;
    min-height: 100px;
    padding: 20px;
}
.public{
    font-weight: bold;
    margin-top: 10px;
    padding-left: 10px;
}
div.lang{
    width: 200px;
    height: 100px;
    position: absolute;
    right: 50px;
    top: 10px;
}
div.lang p{
    font-size: 20px;
}
div.lang img{
    width: 95%;
    border: 5px solid #fcfafa;
    padding: 5px;
    margin-top: 5px;
}
#articles-table {
    width: 80%;
    border-collapse: collapse;
    border: 2px solid #b3adad;
    padding:5px;
    margin:10px auto ;
}

#articles-table th{
    border:1px solid #b3adad;
    padding:5px;
    background: #f0f0f0;
    color: #313030;
}

#articles-table td{
    border:1px solid #b3adad;
    text-align:center;
    padding:5px;
    background: #ffffff;
    color: #313030;
}

.del-edit-btn-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.del-edit-btn-box button{
    margin: 0 2px 0 2px;
}
.icons{
    height: 16px;
    margin: 2px;
}

.create-edit-form{
    display: flex;
    flex-direction: column;
}
.create-edit-form label{
    margin-top: 15px;
    margin-bottom: 5px;
}

.create-edit-form textarea{
    resize: vertical;
    padding: 10px;
    margin-bottom: 10px;
    height: 150px;
}

.create-edit-form input[type=submit]{
    width: 100px;
    padding: 5px;
    margin: 5px 0 5px 0;
}

.create-edit-form input[type=file]{
    margin: 5px 0 5px 0;
}

.create-edit-form #title{
    padding: 5px 10px 5px 10px;
}
:root{
    --error-color: #b8352f;
}
.preview-image{
    height: 100px;
    border-radius: 3px;
    border: 2px solid #b3adad;
}

.userForm>h2, .userList{
    text-align: center;
}
.userForm>form{
    margin: 0 auto 2vh;
    display: block;
    width: 24vw;
    border: var(--error-color) 1vh solid;
}
.userForm>form>label{
    display: block;
    text-align: center;
}
.userForm>form>input{
    margin-left: 7vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 10vw;
}
.userTable{
    border-collapse: collapse;
    margin: 0 auto;
    border: 2px #000000 solid;
}
.userTable> th, tr, td{
    border: 2px #000000 solid;
}
td.action>form>button{
    width: 100%;
}
#validation{
    margin: 0 auto;
    width: 30vw;
    color: var(--error-color);
    text-align: center;
}
.error{
    border-color: var(--error-color);
}
#errorDeleting{
    padding-top: 2vh;
    margin: 0 auto 2vh;
    border: 5px solid var(--error-color);
    color: var(--error-color);
    width: 20vw;
    height: 10vh;
    text-align: center;
}